.top {
    text-align: center;
    border-radius: 5px;
    background-image: url("https://media.istockphoto.com/id/931587220/photo/high-court-in-chennai-india.jpg?s=612x612&w=0&k=20&c=J3TvXZRRVhlKsqea9z9cplmUmlWJ-2BwWarxWyMvyo8=");
}

.p {
    font-size: 35px;
    font-family: 'Times New Roman';
    color: aqua;
}

.input {
    font-size: 40px;
    font-style: italic;
    color: blueviolet;
}

.btn {
    font-size: 65px;
    color: rgb(255, 0, 157);
    margin: 10px;
    padding: 3px;
}